#ca_control
{
    width       : 400px;
    float       : left;
    margin-left : 80px;
    margin-right : 80px;
    background-color : #557788;
    display: grid;
}

#play_button
{
    width : 160px;
    height : 160px;
    border-radius: 50%;
    color : #2222CC;
    background-color : #CCFFCC;
    border-color : #113311;
    border-width : 10px;
    margin-left : auto;
    margin-right : auto;
    grid-column-start : 1;
    grid-column-end   : 3;
    grid-row-start : 1;
    grid-row-end   : 1;
}

#slider_div
{
    grid-column-start : 1;
    grid-column-end   : 3;
    grid-row-start : 2;
    grid-row-end   : 2;
}

.slider
{
    width : 80%;
}


#pen_button_div
{
    margin-top    : 10px;
    margin-bottom : 10px;
    grid-column-start : 1;
    grid-column-end   : 3;
    grid-row-start : 3;
    grid-row-end   : 3;
    grid-row-start : 3;
    grid-row-end   : 3;
}

#fill_button_div
{
    margin-top    : 10px;
    margin-bottom : 10px;
    grid-column-start : 1;
    grid-column-end   : 3;
    grid-row-start : 4;
    grid-row-end   : 4;
}

#random_button
{
    width : 180px;
    height : 80px;
    margin-left : auto;
    margin-right : auto;
    grid-column-start : 1;
    grid-column-end   : 3;
    grid-row-start : 5;
    grid-row-end   : 5;
}

button
{
    background-color : #AA22CC;
    color : #BBFFBB;
    border-style: solid;
    margin-top : 20px;
    margin-bottom : 20px;
    font-weight: bold;
}

div
{
    text-align: center;
}

.fill_button
{
    padding : 20px;
}

.draw_button
{
    padding : 30px;
    color : #000;
}

canvas
{
    float       : left;
    margin-left : 80px%;
    margin-top  : 80px%;
}

body 
{
    background-color: #222f20;
}
