body
{
    background : #112211;

    margin : 0;

    display : flex;
    flex-direction : column;

    justify-content : center;

    align-items: center;
}

canvas
{
    position : top;
}

#renderOptions 
{
    background : #F066F0;
    position : relative;

    margin-top : 15px;

    max-width : 600px;
}


#renderButtonRow
{
    background : #FFFFFF;
    padding    : 10px;

    display : flex;

    justify-content : center;
}


input.zoomButton
{
    background : #FFFFFF;

    padding : 5px;
    margin  : 10px auto;

    border : 2px solid #ccc;
    border-radius : 5px;
}

#renderButton
{
    background : #CCCCCC;
}
